/* html{
  font-size: 62.5%;
} */

body{
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
  background-color: #e0dbdb;
  background-image: linear-gradient(rgba(85, 85, 85, 0.37), rgba(0, 0, 0, 0.7)), url('https://images.pexels.com/photos/1415734/pexels-photo-1415734.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  font-family: 'Eagle Lake', cursive;
}

#wrapper{
  display: block;
  margin: 0 auto;
  width: 80vw;
  height: auto;
  padding: 0;
  border:  1px solid rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  box-shadow: 7px 7px 5px #000000;
}

.header{
  text-align: center;
  display: block;
  color: white;
}

.header>h1{
  font-size: 35px;
  text-transform: uppercase;
}

.header>p{
  font-size: 18px;
}

.header>p>span>i{
  cursor: pointer;
}

/* --- Card Container */
.card-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  height: auto;
  border-radius: 7px;
  /* background-color: rgba(14, 59, 67, 0.9); */
  margin-bottom: 30px;
  background: linear-gradient(223deg, #e9e120, #e93920, #3fbdd9);
  background-size: 600% 600%;
  animation: AnimationName 3s ease-in-out infinite;
}

@keyframes AnimationName { 
  0%{background-position:0% 53%}
  50%{background-position:100% 48%}
  100%{background-position:0% 53%}
}

.card-container>div{
  height: 70px;
  width: 15%;
  padding: 10px;
  margin: 15px;
  display: inline-block;
  text-align: center;
  background-color: #ECFEE8;
  border-radius: 7px;
  transform: translateY(0px);
  transition: .5s;
}

.card-container>div:hover{
  transform: translateY(-5px);
  transition: .5s;
  box-shadow: 4px 3px 3px #cecece;
}

.card-container>div>i{
  margin: 15% auto;
  font-size: 40px;
}

.fa-html5{
  color: #CD5C5C;
}

.fa-js{
  color: #f0db4f;
}
.fa-css3-alt{
  color: #1564B2;
}
.fa-react{
  color: #61dbfb;
}
.fa-node{
  color: #68a063;
}
.fa-angular{
  color: #B52E31;
}
.fa-git{
  color: #f1502f;
}
.fa-vuejs{
  color: #41B883;
}